{%extends 'base.html'%}

{%block title%}Productos{%endblock title%}

{%block content%}
    <br>
    <div class="container">
 
	 	<div class="row">
			<div class="col-md-12">
			<p  id="menucat">
				{%for categoria in categorias%}

				<a href="{%url 'productos:listProductoCategoria' categoria.slug%}"> {{categoria.nombre}}</a>
				
				{%empty%}
				
				<h2>No hay</h2>
				
				{%endfor%}
				
			</p>
			</div>
		</div>
		<br>
	</div>

  <br>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 center">
      <div class="row">
  
        {%for producto in productos%}

        <div class="col-md-4">
            <div class="card card-block">
              <img class="card-img-top" src="/media/{{producto.imagen}}" width="200" height="150" alt="Card image cap">
                <h3 class="card-title">{{producto.nombre}}</h3>
                <p class="card-text">Precio: ${{producto.precio}}0</p>
                <a href="{% url 'productos:detailProducto' producto.slug %}"><p>Mas información</p></a>
            </div>
          </div>

        {%empty%}

        </div>
        <h2>Lista de productos vacia</h2>

      {%endfor%}

        </div>
    </div>


{%endblock content%}